    .logo {
        max-width: 35%;
    }
    
    html {
        font-size: 1.5rem;
    }
    
    body {
        color: #060686;
        font-weight: 400;
        font-family: 'Tajwal', Times, serif;
    }
    
    .header-seprator {
        color: #040430;
        height: 5px !important;
    }
    
    label {
        font-weight: 500;
    }
    
    .invalid-feedback {
        font-size: 12px;
        ;
    }
    
     ::placeholder {
        color: red;
        font-size: 14px;
    }